body{
	padding-left:250px;
}
p{
	font-size:24px;
	color:#FF0000;
}

#firstbox{
        display: block;
		margin-top:20px;
}
#secondbox{
        display: none;
		margin-top:20px;
}
.radiobutton{
        background-color:#0099FF;
}
.selects{
		border-radius:5px;
		height:25px;
		width:200px;

}
#danwei{
		border-radius:5px;
		height:25px;
		width:400px;
}